.left {
 flex-grow: 1;
 display: flex;
 flex-direction: column;
}

.leftTop {
 background: #212133;
 flex-grow: 0.5;
}

.leftMiddle {
 background: #4C4C75;
 flex-grow: 8;
}

.leftBottom {
 background: #212133;
 flex-grow: 0.5;
}