* {
  margin: 0;
  padding: 0;
}

body {
 background-color: #27baba;
 background-image: url('./img/chat-hall.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
 height: 100vh;
}

.app {
  background:#2eb2be;
  max-width: 95%;
  margin: 10px auto;
}